[bitbucket]
username = ""
app_password = ""
organisation = ""

[github]
username = ""
access_token = ""
organisation = ""

[migration]
repositories = [
    { name = "plisseexperten-wp", rename_to = "plisseexperten-wordpress" },
    { name = "moll-wenden-website", rename_to = "moll-wenden-wordpress" },
]

