[bitbucket]
username = ""
app_password = ""
organisation = ""

[github]
username = ""
access_token = ""
organisation = ""

[migration]
temp_folder = "/tmp"
repositories = [
    { name = "old-repo-slug" },
    { name = "old-repo-slug", rename_to = "new-repo-slug" },
]

